<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>802958803600-33bpm78gg8h80rch8t2uepgg201r5cag.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.802958803600-33bpm78gg8h80rch8t2uepgg201r5cag</string>
	<key>API_KEY</key>
	<string>AIzaSyBA9UmlLxtrGnBlZKvcAjRL8mlPnphWiq4</string>
	<key>GCM_SENDER_ID</key>
	<string>802958803600</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.stanford.cs342.2023.balance</string>
	<key>PROJECT_ID</key>
	<string>cs342-2023-balance</string>
	<key>STORAGE_BUCKET</key>
	<string>cs342-2023-balance.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:802958803600:ios:eebf147bf67f5914108e15</string>
</dict>
</plist>
