<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>edu.stanford.cs342.2023.balance</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>balanceapp</string>
			</array>
		</dict>
	</array>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationQueriesSchemas</key>
	<array>
		<string>spotify</string>
	</array>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>spotify</string>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>Nunito-Black.ttf</string>
		<string>Nunito-BlackItalic.ttf</string>
		<string>Nunito-ExtraBold.ttf</string>
		<string>Nunito-ExtraBoldItalic.ttf</string>
		<string>Nunito-ExtraLight.ttf</string>
		<string>Nunito-ExtraLightItalic.ttf</string>
		<string>Nunito-Italic.ttf</string>
		<string>Nunito-Light.ttf</string>
		<string>Nunito-Medium.ttf</string>
		<string>Nunito-MediumItalic.ttf</string>
		<string>Nunito-Regular.ttf</string>
		<string>Nunito-SemiBold.ttf</string>
		<string>Nunito-SemiBoldItalic.ttf</string>
		<string>Nunito-Bold.ttf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict/>
	</dict>
</dict>
</plist>
